/* .App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 1px;
  background-color: violet;
}
 */

 /* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
 body {
  background: rgb(245, 245, 245);
} */